#root {
  height: 100vh;
}

body {
  overflow: hidden;
}

i.material-icons {
  margin-right: 5px;
  color: inherit;
}
i.material-icons.no-space {
  margin-right: 0;
}

.szh-menu__item--anchor {
  text-decoration: none !important;
  color: unset !important;
}

.rs-content {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-inline: 15px;
}

.now-playing {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
}

.now-playing-slider {
  margin-top: -9px;
  margin-bottom: 5px;
  width: 100vw;
  position: absolute;
  left: 0;
  border-radius: 0;
  & .rs-slider-progress-bar,
  &.rs-slider-bar {
    border-radius: 0;
  }
}

.is-bold {
  font-weight: bold;
}

.no-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.rs-btn.square {
  padding-inline: 8px;
}

.spacer {
  display: block;
}

.item-stat {
  padding: 16px;
  padding-inline: 10px;
}

.item-stat:first {
  padding-left: none;
}

.md-16 {
  font-size: 16px !important;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red-400 {
  color: #ef5350 !important;
}
