#root {
  height: 100vh;
}

body {
  overflow: hidden;
}

i.material-icons {
  margin-right: 5px;
  color: inherit !important;
}
i.material-icons.no-space {
  margin-right: 0;
}

.szh-menu__item--anchor {
  text-decoration: none !important;
  color: unset !important;
}

.rs-content {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.now-playing {
  position: fixed;
  bottom: 0;
  width: 100%;
}
